name: Deploy to Azure

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/deploy.yml'
      - 'GitForWindowsHelper/**'

jobs:
  deploy:
    if: github.event.repository.fork == false
    environment: deploy-to-azure
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: 'Login via Azure CLI'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_RBAC_CREDENTIALS }}
      - uses: Azure/functions-action@v1
        with:
          app-name: ${{ secrets.AZURE_FUNCTION_NAME || 'GitForWindowsHelper' }}
          respect-funcignore: true
